# Environments
.env
.venv/
vouchly_env/

# Databases
db.sqlite3
vouchly_env/db.sqlite3

# Media and Static
media/
staticfiles/

# Python cache
__pycache__/
*.pyc

# DO NOT ADD config/settings.py here. 
# It is safe to push because your keys are in the .env file.